# URL base del API Gateway en la red interna de Docker (Microservicios REST)
VITE_API_GATEWAY_URL=http://broker-gateway:8000

# URL base para conexiones en tiempo real (WebSockets)
VITE_WS_URL=ws://broker-gateway:8000